body {
    font-size: 1.2rem;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/school.png');
}

.status {
    margin-bottom: 2rem;
}

.indicator {
    margin: 0 7px 0 7px;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 20px;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.gen, .gen:focus {
    padding: 8px !important;
    background: #fff;
    border: 1px solid #d7d7d7 !important;
    height: 240px;
}

.online .indicator {
    background-color: #18bf18;
}

.offline .indicator {
    background-color: #ff5d5f;
}

.offline {
    display: none;
}

.material-icons {
    vertical-align: middle;
    margin: 0 5px 0 0;

}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}